---
import vector1 from "../../public/vector1.svg";
interface Props {
	title: string;
	description: string;
	href: string;
	thumbnail: string;
    date: string;
    type: string;
}

const { title, description, href, thumbnail,date, type } = Astro.props as Props;
---

<div class="rounded-lg border border-gray-200">
	<img
		src={thumbnail}
		alt=""
		class="aspect-video rounded-t-lg object-cover"
	/>

	<div class="py-3.5 px-5">
		<a href={href} class="block mt-2.">
			<h2 class=" text-black hover:text-blue-700 text-2xl font-bold font-['DM Sans'] leading-loose">{title}</h2>
		</a>
        <div class="w-full flex justify-start gap-2 mt-7">
            <p class="w-[88px] text-black text-xs font-bold font-['DM Sans'] leading-[18px]">
                {type}
            </p>
            <p class="w-[120px] text-black text-xs font-normal font-['DM Sans'] leading-[18px]">
                {date}
            </p>
        </div>
		<p class="mt-2.5 text-black text-base font-normal font-['DM Sans'] leading-normal">
			{description}
		</p>
        <div class=" w-40 h-12 mt-10 px-4 py-2 flex justify-center items-center gap-2  rounded-3xl bg-zinc-300 hover:bg-black hover:text-white text-base font-medium font-['DM
        Sans'] leading-tight  bg-opacity-0  border border-black">
            <a
                href={href}
                class="flex justify-start items-center gap-2"
            >
                <button
                
                >
                    Read More
                </button>
                <img src={vector1.src} alt="vector" />
            </a>
        </div>
	</div>
</div>