---

import BlogPage from "../components/BlogPage";
import RecentBlog from "../components/RecentBlog.astro";
import Layout from "./Layout.astro";

interface Props {
	frontmatter: {
		title: string;
		slug: string;
		thumbnail: string;
		date: string;
        type: string;
	};
}

const { frontmatter } = Astro.props as Props;


---

<Layout title={frontmatter.title}>
	<main>
        <BlogPage />
        <div class="w-full px-28 mx-auto">
            <img
                src={frontmatter.thumbnail}
                alt=""
                class="aspect-video object-cover rounded-lg shadow-lg mt-16"
            />
            <div class="w-full flex justify-between mt-10">
                <p class="text-black text-xl font-bold font-['DM Sans'] leading-[30px]">
                    {frontmatter.type}
                </p>
                <div class="flex items-center space-x-1 px-2">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-5 h-5"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5"
                        ></path>
                    </svg>
                    <p class="text-black text-xl font-normal font-['DM Sans'] leading-[30px]">{frontmatter.date}</p>
                </div>
            </div>
            <h1 class="text-4xl text-black hover:text-blue-700 font-bold leading-loose mt-4 ">
                {frontmatter.title}
            </h1>
            <div class="mt-8 content">
                <slot />
            </div>
            <RecentBlog/>
        </div>
    </main>
</Layout>

<style is:global>
	.content p {
		@apply mt-4 ;
	}
</style>